body {
	margin: 0 auto;
	max-width: 32rem;
	text-align: center;
}

body > * {
	padding: 0 .5rem;
}

form {
	border: 1px solid #777;
	border-radius: .25rem;
	box-shadow: #bbb .5rem .5rem .5rem;
	margin: 0 auto;
	max-width: 24rem;
	padding: 1rem .5rem;
}

input, label {
	display: inline-block;
	margin-bottom: 1em;
	width: calc(50% - 1rem);
}

label {
	text-align: right;
	margin-right: .5rem;
}

.success {
	color: green;
}
